:root {
  --white: #e5e5e5;
  --bright-grey: #cccccc;
  --dark-grey: #333333;
  --black: #161616;
}

.container {
  width: 100%;
  position: absolute;
  padding-top: 20vh;
  text-align: center;
  color: var(--white);
}

.media-icons {
  padding-top: 10vh;
}

.media-icons a {
  color: var(--white);
  text-decoration: none;
}

.media-icons a:hover {
  color: white;
}

@media(max-width: 580px) {
  .media-icons {
    display: none;
  }
}
