/* Define color palette */
:root {
	--white: #e5e5e5;
	--bright-grey: #cccccc;
	--dark-grey: #333333;
	--black: #161616;
}

/* Customise bootstrap a little */
.border {
	border-width: 2px !important;
}

.border-white {
	border-color: var(--white) !important;
}

.alert-dark {
    color: red !important;
    border-color: rgba(0, 0, 0, 0) !important;
    background-color: rgba(0, 0, 0, 0) !important;
}

.alert {
    border: none !important;
}