/* Define color palette */
:root {
	--white: #e5e5e5;
	--bright-grey: #cccccc;
	--dark-grey: #333333;
	--black: #161616;
}

/* Define base properties */
body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("/static/img/hero_image.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

html, body {
	font-family: 'Courier Prime', monospace;
	color: var(--white);

	overflow: none;
}

h1, h2 {
	font-family: 'Titillium Web', sans-serif;
}

/* Customise bootstrap a little */
.bg-dark {
	background-color: var(--dark-grey) !important;
}

.bg-alpha {
	background-color: rgba(0, 0, 0, 0) !important;
}

.active {
	color: var(--bright-grey) !important;
	text-decoration: underline !important;
}

.text-light:hover {
	color: var(--bright-grey) !important;
	cursor: pointer !important;
}

.text-darker {
    color: var(--dark-grey) !important;
}

@media screen and (max-width: 768px) {
	/* Properties for footer - no visibility */
	footer {
		display: none;
	}
}