{% extends "base_generic.html" %}

{% block title %} | About Me{% endblock %}

{% block home-active-screen %}
<a class="mx-4 nav-item nav-link active" href="{% url 'about' %}">
    About
    <span class="sr-only">(current)</span>
</a>
{% endblock %}

{% block content %}

<div class="container container-vert-center d-flex justify-content-center">
  <div class="row w-100">
    <div class="col-sm-12">
      <div>
        <h1>About Me</h1>
        <p class="margin-top-s">
          Software engineer and website full-stack developer, currently finishing a degree in
          Engineering Physics. I am currently based in Aberystwyth, a cosy town in Wales.
        </p>
        <p class="margin-top-s">
          My motivation is within the process of creation, the possibility of learning and merging
          skills I have gained. Recently, I have initiated a web-dev project, which is an online store with paintings
          for amateur and semi-professional artists, which I hope to develop and expand on in the future. This, as well
          as the portfolio website you are browsing right now, were made using Django framework which I hope to utilise
          further.
        </p>
        <br>
        <p class="margin-top-s">
          My adventure with programming and web-dev started around 6 years ago, learning C++ and
          the basics of front-end web development (HTML and CSS). Then, 3 years later I learnt Python and shortly after
          that I learnt PHP and Laravel framework. Since then I moved back to Python language and introduced myself to
          Django.
        </p>
        <p class="margin-top-s">
          For the past three years, I have also learnt C Arduino, MATLAB, JavaScript, basics of
          website design and, last but not least, how to manage my time so I can fit all these into my schedule.
        </p>
        <p class="margin-top-s">
          Most of my experience can be proven in the
          <a href="{% url 'projects' %}">
            <button class="btn btn-primary">
              projects section
            </button>
          </a>
          here. If it seems interesting to you, feel free to
          <a href="{% url 'contact' %}">
            <button class="btn btn-primary">
              message me.
            </button>
          </a>
          I will be happy to hear what you think about my recent work.
        </p>
      </div>
    </div>
  </div>
</div>

<!-- Script for adding .pt-5, .mt-5 and .scroll-on classes -->
<script type="text/javascript">
	var row = document.getElementsByClassName("row w-100");
	var body = document.getElementsByTagName("body");
    const vw = Math.max(document.documentElement.clientWidth, window.innerWidth || 0);

    if (vw < 768) {
        row[0].classList.add("pt-5");
		row[0].classList.add("mt-5");
	    body[0].classList.add("scroll-on");
    }
</script>
<!-- Script for adding .pt-5, .mt-5 and .scroll-on classes -->

{% endblock %}

{% block footer-fixed-bottom %} fixed-bottom{% endblock %}
