<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous">
    <script
    src="https://code.jquery.com/jquery-3.4.1.js"
    integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU="
    crossorigin="anonymous"></script>
    <link
    href="https://fonts.googleapis.com/css?family=Courier+Prime|Titillium+Web&display=swap"
    rel="stylesheet">
    <script
    src="https://kit.fontawesome.com/589f640727.js"
    crossorigin="anonymous"></script>

    <title>Patryk Jesionka{% block title %}{% endblock %}</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/body.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/overlay.css' %}">
  </head>

  <body>
    <div class="wrapper">

      <header>
        <nav>
          {% block navbar %}{% include 'navbar.html' %}{% endblock %}
        </nav>
      </header>

      <div class="container">
        {% block content %}{% endblock %}
      </div>

    </div>
    {% block nav_scripts %}{% endblock %}
  </body>
</html>
