<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Courier+Prime|Titillium+Web&display=swap" rel="stylesheet">

    <!-- Custom styles -->
	{% load static %}
    <link rel="stylesheet" href="{% static 'css/general.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/container.css' %}">
    <link rel="stylesheet" href="{% static 'css/overlay.css' %}">
    <link rel="stylesheet" href="{% static 'css/button.css' %}">
    <link rel="stylesheet" href="{% static 'css/scroll.css' %}">
    <link rel="stylesheet" href="{% static 'css/contact.css' %}">
    <!-- Prism -->
	<link rel="stylesheet" href="{% static 'css/prism.css' %}">

    <title>Patryk Jesionka{% block title %}{% endblock %}</title>

  </head>

  <body class="text-center">

    <!-- <div id="Preloader" class="preloader"></div> -->

    {% block navbar %}{% include "partials/navbar.html" %}{% endblock %}

    <!-- Container -->
    {% block content %}{% endblock %}
    <!-- Container -->

    {% block footer %}
    <!-- Footer -->
	<footer class="page-footer font-small bg-alpha{% block footer-fixed-bottom %}{% endblock %}">
      {% include "partials/footer.html" %}
    </footer>
    <!-- Footer -->
    {% endblock %}

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS + Fontawesome -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/589f640727.js" crossorigin="anonymous"></script>
    <!-- Custom scripts -->
    {% load static %}
    <script type="text/javascript" src="{% static 'js/overlay.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/preloader.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/sticky_navbar.js' %}"></script>
  	<!-- Prism -->
	<script type="text/javascript" src="{% static 'js/prism.js' %}"></script>

  </body>
</html>
