<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<!-- Fonts -->
	<link href="https://fonts.googleapis.com/css?family=Courier+Prime|Titillium+Web&display=swap" rel="stylesheet">
    <!-- Stylesheet overriding the default Bootstrap styles -->
	{% load static %}
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">

    <title>Patryk Jesionka{% block title %}{% endblock %}</title>

  </head>

  <body class="text-center">

    <!-- <div id="Preloader" class="preloader"></div> -->

    {% block navbar %}{% include 'navbar.html' %}{% endblock %}
    <!-- Container (for screens) -->
      <div class="container container-vert-center d-flex justify-content-center{% block cont-style-screen %}{% endblock %}">
      <div class="row w-100">
        {% block content %}{% endblock %}
      </div>
    </div>
    <!-- Container (for screens) -->

    <!-- Container for mobile devices (optional) -->
    {% block content-mobile %}{% endblock %}
    <!-- Container for mobile devices (optional) -->

    <!-- Footer -->
	<footer class="page-footer font-small bg-alpha{% block footer-fixed-bottom %}{% endblock %}">
      {% block footer %}{% include 'footer.html' %}{% endblock %}
    </footer>
    <!-- Footer -->

    {% block scripts %}{% include 'scripts.html' %}{% endblock %}

    <!-- Additional scripts (for navbar - project list and detail pages) -->
    {% block scripts_nav %}{% endblock %}

  </body>
</html>
