{% extends "base_generic.html" %}

{% block title %} | Contact Me{% endblock %}

{% block content %}

<div class="container container-vert-center d-flex justify-content-center">
  <div class="row w-100">
    <div class="col-3"></div>
    <div class="col-6 p-4 border border-white rounded">
      <div style="text-align:center">
        <br>
        <h1>Message was sent!</h1>
        <br>
        <p>Now it's my turn to text you back</p>
        <br>
      </div>
    </div>
    <div class="col-3"></div>
  </div>
</div>

{% endblock %}

{% block footer-fixed-bottom %} fixed-bottom{% endblock %}
