{% extends "base_generic.html" %}

{% block title %} | Home{% endblock %}

{% block content %}

<div class="container container-vert-center d-flex justify-content-center">
    <div class="row w-100">
        <div class="col-sm-12">
            <div>
                <h1>Patryk Jesionka</h1>
                <p class="margin-top-s">Website Developer and Software Engineer. Don't hesitate to make your ideas
                    become real.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block footer-fixed-bottom %} fixed-bottom{% endblock %}
