{% extends "base_generic.html" %}

{% block title %} | Projects{% endblock %}

{% block content %}

<!-- Container for screens -->
<div class="container container-vert-center cont-screen">
	{% if project_list %}
		<div class="row w-100 ">
			{% for project in project_list %}
				{% load static %}
				<div class="col-12 my-3">
					<div class="card bg-dark text-white">
						<img class="card-img" src="{% static project.get_md_img_path %}" alt="Card image">
						<div class="card-img-overlay">
							<h5 class="card-title">{{ project.title }}</h5>
							<p class="card-text">{{ project.prev_description }}</p>
							<a href="{{ project.get_absolute_url }}" class="btn btn-primary">Read more</a>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>
	{% else %}
		<div class="row w-100">
			<p>I'm working on it!</p>
		</div>
	{% endif %}
</div>
<!-- Container for screens -->

<!-- Script for adding/removing .pt-5 and .mt-5 classes -->
<script type="text/javascript">
	var noOfColumns = document.getElementsByClassName("col-12 my-3").length;
	var row = document.getElementsByClassName("row w-100");

	if (noOfColumns > 2) {
		row[0].classList.add("pt-5");
		row[0].classList.add("mt-5");
	}

	var body = document.getElementsByTagName("body");
	body[0].classList.add("scroll-on");
</script>
<!-- Script for adding/removing .pt-5 and .mt-5 classes -->

{% endblock %}
