{% extends "base_generic.html" %}

{% block title %} | Projects{% endblock %}

{% block content %}

<!-- Container for screens -->
{% if project_list %}
    {% for project in project_list %}
        {% load static %}
        <img src="{% static project.get_md_img_path %}">
        <div>
            <h5>{{ project.title }}</h5>
            <p>{{ project.prev_description }}</p>
        </div>
    {% endfor %}
{% else %}
    <div>
        <p>I'm working on it!</p>
    </div>
{% endif %}
<!-- Container for screens -->

<!-- Container for mobile devices -->
<div class="container container-vert-center cont-mobile mt-5 pt-5">
  <div class="row w-100">
    {% if project_list %}
      {% for project in project_list %}
        {% load static %}
        <div class="col-12 my-3" align="center">
          <div class="card bg-dark" style="width: 100%;">
            <img class="card-img-top" src="{% static project.get_sm_img_path %}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ project.title }}</h5>
              <p class="card-text">{{ project.prev_description }}</p>
              <a href="{{ project.get_absolute_url }}" class="btn btn-primary">Read more</a>
            </div>
          </div>
        </div>
      {% endfor %}
    {% else %}
    <div class="col-12">
      <p>I'm working on it!</p>
    </div>
    {% endif %}
  </div>
</div>
<!-- Container for mobile devices -->

  <!--
  {% if project.phase == 'p' %}<p>Phase: Planning</p>
  {% elif project.phase == 'i' %}<p>Phase: Implementation</p>
  {% elif project.phase == 'm' %}<p>Phase: Maintenance</p>
  {% else %}<p>Phase: Completion</p>
  {% endif %}
  -->

{% endblock %}
